@using Microsoft.AspNetCore.Identity
@using Boulderlog.Data.Models
@using Boulderlog.Domain

@inject SignInManager<AppUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole(Const.Role.Admin))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="AppUser">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Images">Images</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Climb">Climbs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="ClimbLog">ClimbLog</a>
    </li>
}