@model IEnumerable<Boulderlog.Data.Models.ClimbLog>

@{
    ViewData["Title"] = "Index";
}

<h1>ClimbLog</h1>

<h3>Climbs by Grade</h3>
<div>
  <canvas id="gradeChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('gradeChart');

    var gradeLabels = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.GradeLabels))')
    var gradeValues = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.GradeValues))')

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: gradeLabels,
            datasets: [{
                label: '# of Attempts by grade',
                data: gradeValues,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
                    
            }
        }
    });
</script>
