@model ClimbPageViewModel

<div class="row pt-2 pb-2">
    <div class="col-12">
        <form asp-action="MyClimbs" asp-controller="Climb" method="get">
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-3 col-12 d-flex flex-row align-items-center">
                    <span class="me-1 mt-1 w-25">Gym:</span><select title="Gym" id="Gym" name="gymId" class="form-select" aria-label="Gym" onchange="getGymData()" asp-for="SelectedGymId" asp-items="Model.Gyms"></select>
                </div>
                <div class="col-lg-2 col-md-3 col-12 d-flex flex-row align-items-center">
                    <span class="me-1 mt-1 w-25">Grade:</span><select title="Grade" id="Grade" name="gradeId" class="form-select" aria-label="Grade"></select>
                </div>
                <div class="col-lg-2 col-md-3 col-12 d-flex flex-row align-items-center">
                    <span class="me-1 mt-1 w-25">Wall:</span><select title="Wall" id="Wall" name="wall" class="form-select" aria-label="Wall"></select>
                </div>
                <div class="col-lg-6 col-md-3 col-12 d-flex flex-row justify-content-md-start justify-content-end">
                    <input class="btn btn-secondary mt-1" type="submit" value="Filter" />
                </div>
            </div>
        </form>
    </div>
</div>