@model Boulderlog.Data.Models.SessionFilter

@{
    var now = DateTime.Now;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Session">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="LastUpdated" value="@now" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GymId" class="control-label"></label>
                <select asp-for="GymId" class="form-control" asp-items="ViewBag.GymId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FranchiseId" class="control-label"></label>
                <select asp-for="FranchiseId" class="form-control" asp-items="ViewBag.FranchiseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GradeId" class="control-label"></label>
                <select asp-for="GradeId" class="form-control" asp-items="ViewBag.GradeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HoldColor" class="control-label"></label>
                <input asp-for="HoldColor" class="form-control" />
                <span asp-validation-for="HoldColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wall" class="control-label"></label>
                <input asp-for="Wall" class="form-control" />
                <span asp-validation-for="Wall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
